# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log
backend/media/
backend/staticfiles/

# Node
node_modules/
frontend/node_modules/
frontend/dist/

# Env
.env
backend/.env
frontend/.env


backend/venv